<!--<nav>
    <div class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 py-2">
                    <a href="/" class="text-white">HOME</a>
                </div>
                <div class="col-sm-3 offset-sm-1 py-2">
                    <a href="/about" class="text-white">ABOUT</a>
                </div>
                <div class="col-sm-3 offset-sm-2 py-2">
                    <a href="/add_user" class="text-white">LOGIN</a>
                </div>
            </div>
        </div>
    </div>
</nav>-->

<nav class="navbar navbar-default navbar-static-top navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"> P R O F I L E </a>
        </div>
        <div class="navbar-header">
            <div class="nav navbar-nav navbar-right">
                {{#if user}}
                <div class="row">
                    <div class="col-sm-6">
                        <a class="navbar-brand" href="/profile"> {{ user.name }} </a>    
                    </div>
                    <div class="col-sm-6">
                        <a class="navbar-brand" href="/logout"> Logout </a>   
                    </div>
                </div>
                {{else}}
                <div class="row">
                    <div class="col-sm-6">
                        <a class="navbar-brand" href="/login"> SIGN IN </a>
                    </div>
                    <div class="col-sm-6">
                        <a class="navbar-brand" href="/sign_up"> SIGN UP </a>
                    </div>
                </div>
                    
                {{/if}}
            </div>
        </div>
    </div>
</nav>