<div class="container" style="margin-top:15%; width:45%;">
    <form method="POST">

        <div class="form-group">
            <label for="Name">Name: </label>
            <input class="form-control" type="text" name="Name_Ptr" placeholder="Name">
        </div>

        <div class="form-group">
            <label for="Username">Username: </label>
            <input class="form-control" type="text" name="Username_Ptr" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="Password">Password: </label>
            <input class="form-control" type="password" name="Password_Ptr" placeholder="Password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">SUBMIT</button>
        </div>
    </form>
</div>